<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152392799-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-152392799-2');
    </script>
    <script src="static/client.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="static/style.css">
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Flower recognition</title>
    <meta property="og:title" content="Home" />
    <meta property="og:locale" content="en" />
    <meta name="description" content="Erkenne Blumenarten" />
    <meta property="og:description" content="Erkenne Blumenarten" />
    <link rel="canonical" href="https://detect-eye-diseases.herokuapp.com/" />
    <meta property="og:url" content="https://detect-eye-diseases.herokuapp.com/" />
    <meta property="og:site_name" content="Erkenne Blumenarten" /></head>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" style="background-color: rgb(233, 229, 2);">                
            </div>
            <div class="col-md-8">
                
                <div>
                    <hr/>
                    {% block content %} {% endblock %}
                    <hr/>
                </div>
            </div>
            <div class="col-md-2" style="background-color: rgb(233, 229, 2);">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="background-color: rgb(233, 229, 2);">
            </div>
            <div class="col-md-8">
              
                </div>
            </div>
            <div class="col-md-2" style="background-color: rgb(233, 229, 2);">
            </div>
        </div>

    </div>
</body>
</html>
